BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
NamespaceIndentation: None
IndentExternBlock: NoIndent
AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterNamespace: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  IndentBraces: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: false
